# Data Generation
faker==20.1.0
python-dotenv==1.0.0
pyyaml==6.0.1
requests==2.31.0

# Kafka
kafka-python==2.0.2

# Spark
pyspark==3.5.0

# API
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
